<div>
    <div class="beers-main">
        <img src="/images/beer.png" alt="beer" class="main-img" />
        <div class="buttons">
            <button class="bt1"><a href="/beers">Check the beers!</a></button>
            <button class="bt2"><a href="/randombeers">Check a random beer!</a></button>
        </div>
    </div>

</div>